<style>
  .index-body {
    background-color: #ffffff;
    display: block;
  }
  
  .inner-body {
  	max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .inner-body .hello-celeste {
  	max-width: 100%; 
    margin-top: 117px !important;
    margin-bottom: 25px !important;
    text-align: center;
    font-size: 55px;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4d9f41;
    color: white;
    text-align: center;
    
  }
  
  .footer a, .footer p {
   	color: white;
    font-size: 16px;
  }
  
  p {
    font-size: 12px;
  }
</style>

<div class="index-body">
  <div class="inner-body">
    <h1 class="hello-celeste">Hello Shopify!</h1>
  </div>
</div>

<footer class="footer">
  <p>By <a href="https://luchoweb.dev/">Lucho Web</a></p>
</footer>